/* .hit 클래스 애니메이션 */
@keyframes blink {
    from { color: white; }
    30% { color: yellow; }
    to { color: red; font-weight: bold; }
}
.hit {
    animation-name: blink;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

/* 기본 스타일 설정 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 헤더 스타일 */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

header .logo h1 {
    margin: 0;
}

/* 네비게이션 스타일 */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    text-decoration: underline;
}

/* 메인 컨텐츠 스타일 */
main {
    padding: 2rem;
}

/* 테이블 스타일 */
.table {

    max-width: 1200px;
    border-collapse: collapse;
    margin: 0 auto; /* 테이블의 상하 마진 조정 */
    margin-top: 3rem;
}

@media(max-width: 768px) {
    .table {
        width: 100%;
    }
}

th, td {
    text-align: left;
}

.table thead {
    background-color: #f2f2f2;
    border-top: 2px solid #000;
}

.table thead th,
.table tbody td {
    padding: 1rem;
}

.table thead th:nth-child(2),
.table tbody td:nth-child(2) {
    padding-left: 7rem;
}

.table-striped tbody tr {
    background-color: #fff;
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

/* 제목 스타일 */
h2 {
    text-align: center; /* 중앙 정렬 */
    margin-bottom: 3.5rem;
}


/* 폼 컨테이너 스타일 */
.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
}

.form-control, .btn, .input-group {
    margin-top: 10px;
}

.dropdown-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.btn-group, .upload-btn {
    flex: 1;
}

.btn-group {
    margin-right: 10px;
}

.btn-group .btn, .upload-btn .btn {
    width: 100%;
}

/* 페이지네이션 스타일 */
.pagination-container {
    text-align: center;
    margin-top: 1rem;
}

.pagination-link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: #333;
}

.pagination-link.active {
    font-weight: bold;
    text-decoration: underline;
}

.pagination-link:hover {
    background-color: #f5f5f5;
}

