.hit {
	animation-name: blink;
	animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	/* 위 속성들을 한 줄로 표기하기 */
	/* -webkit-animation: blink 1.5s ease infinite; */
}

/* 애니메이션 지점 설정하기 */
/* 익스플로러 10 이상, 최신 모던 브라우저에서 지원 */
@keyframes blink {
	from {color: white;}
	30% {color: yellow;}
	to {color: red; font-weight: bold;}
	/* 0% {color:white;}
	30% {color: yellow;}
	100% {color:red; font-weight: bold;} */
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

header .logo h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a.active {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

.write-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-container {
       max-width: 600px;
       margin: 50px auto;
       padding: 20px;
       background-color: #f8f9fa;
       border-radius: 8px;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   }
   .form-label {
       font-weight: bold;
   }
   .form-control, .btn, .input-group {
       margin-top: 10px;
   }
   .dropdown-container {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-top: 10px;
   }
   .btn-group, .upload-btn {
       flex: 1;
   }
   .btn-group {
       margin-right: 10px;
   }
   .btn-group .btn, .upload-btn .btn {
       width: 100%;
   }

.custom-select-btn {
            display: inline-block;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #0d6efd;
            background-color: transparent;
            background-image: none;
            border: 1px solid #0d6efd;
            border-radius: 0.25rem;
        }
        .custom-select-dropdown {
            display: none;
            position: absolute;
            background-color: #fff;
            box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
            z-index: 1000;
            margin-top: 0.375rem;
        }
        .custom-select-btn:focus + .custom-select-dropdown,
        .custom-select-dropdown:hover {
            display: block;
        }
        .custom-select-dropdown a {
            display: block;
            padding: 0.25rem 1.5rem;
            color: #0d6efd;
            text-decoration: none;
        }
        .custom-select-dropdown a:hover {
            background-color: #e9ecef;
        }

		#div_button_modify {
				display : none;
			}