<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>레이아웃 페이지</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}"/>
</head>
<body>
	<div id="container">
		<header th:replace="layout/header::header"></header>  <!-- replace로 화면 고정 -->
		<div id="sidebar_left" th:replace="layout/sidebar::sidebar"></div>
		<div id="content" layout:fragment="content"></div>
		<footer th:replace="layout/footer::footer"></footer>
	</div>
</body>
</html>