@font-face {
	font-family: 'HancomMalangMalang-Regular';
	src:
		url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2')
		format('woff2');
	font-weight: 400;
	font-style: normal;
}

.buttons {
	text-align: right;
	border: 4px solid #fff; /* 흰색 보더 추가 */
}

.navbar-brand {
	font-family: 'HancomMalangMalang-Regular';
	font-weight: 700;
	font-size: 22px;
	display: inline-block; /* 요소를 인라인 블록 요소로 설정하여 내용에 맞게 크기가 조정되도록 함 */
	padding: 0.25rem 0.5rem; /* 내부 여백을 추가하여 알약 모양을 만듦 */
	color: #fff; /* 글자색 지정 */
	border-radius: 1rem; /* 알약 모양을 위한 border-radius 설정 */
	border: 3px solid #fff; /* 흰색 보더 추가 */
}

.navbar-nav {
	font-family: 'HancomMalangMalang-Regular';
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
	display: flex; /* flexbox 사용하여 가로로 정렬 */
	align-items: center; /* 수직 중앙 정렬 */
}

.navbar-nav .nav-item {
	margin-right: 1rem; /* 각 네브바 항목 사이에 간격 추가 */
}

/* 드롭다운 메뉴 스타일 */
.navbar-nav .dropdown-menu {
	border: none;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}

.navbar-nav .dropdown-item {
	font-weight: 500;
	font-size: 18px;
}

#searchForm {
	display: flex;
	align-items: center;
	margin-right: 1rem; /* 검색 폼 오른쪽 간격 추가 */
}

#searchForm input[type="text"] {
	border-radius: 5px 0 0 5px; /* 검색 필드 왼쪽만 둥글게 */
	border: 1px solid #ddd; /* 테두리 색상 */
	padding: 0.5rem; /* 내부 여백 */
}

#searchForm button {
	border-radius: 0 5px 5px 0; /* 검색 버튼 오른쪽만 둥글게 */
	border: 1px solid #ddd; /* 테두리 색상 */
	padding: 0.5rem 1rem; /* 내부 여백 */
	background-color: #fff; /* 버튼 배경색 */
	color: #333; /* 버튼 텍스트 색상 */
	cursor: pointer; /* 포인터 커서 */
}

#authButtons {
	display: flex;
	align-items: center;
}

#authButtons .nav-item {
	margin-left: 0.5rem; /* 인증 버튼 사이에 간격 추가 */
}