body {
    font-family: Arial, sans-serif; /*폰트 따로 쓰실거면 수정해주세요*/
}

.bg-image {
    background-image: url("../../images/buy/fitness_inside.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.container { /*전체 폼*/
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.receipt_info .hidden { /*hidden으로 신용카드 번호 같은거 넘겨줌*/
    display: none;
}

h1, h2 {
    text-align: center;
    color: #333333;
    margin-bottom: 30px;
}

.form_group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555555;
}

input[type="text"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

#finalPrice {
    font-weight: bold;
    color: #5cc253;
    font-size: 24px;
    text-align: center;
}
#cancelDay {
    width: 40px;
    text-align: center;
}

#cancelDay::placeholder {
    text-align: center;
}

#cancelButton {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #5cc253;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

#cancelButton:hover {
    background-color: #45a049;
}