.deleteButton{
	position: relative;
	z-index: 30px;
	top: 40px;
	left: 580px;
	background: none;
	border: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
	outline: none;
	font-size: 0.8em;
}

.ReviewRange{
	height: 265px;
}

.reviewImage{
	position: relative;
	top: -25px;
	left: -20px;
	
	display: inline-block;
}
.anonymous{
	position: relative;
	top: -60px;
	left: -20px;
	display: inline-block;
}
.reviewDate{
	position: relative;
	top: -40px;
	left: -116px;
	display: inline-block;
}
.reviewComment{
	position: relative;
	border: 1px solid #ccc;;
	top: -50px;
	height: 130px;
}
.personReviewRange{
	width: 578px;
	height: 180px;
	margin:0 auto;
	border-bottom: 1px solid #F6F6F6;
	padding: 30px;
}