@charset "utf-8";

#animation_canvas {
    position: relative;  /* 고정시킬 자식이 있어서 부모는 relative를 줌 */
    width: 700px;  /* 이미지 하나 정도 보이는 크기 */
    overflow: hidden;  /* 내 영역을 벗어나면 안보이게 하기 (일단 어떻게 만들어지는지 보기 위해 주석처리하고 마지막에 풀 예정 => 하게 되면 하나 외의 사진들이 그 자리에는 있지만 안보이게 됨.) */
}

.slider_panel {
    width: 8400px;  /* 원래는 사진 1장당 600px * 5장 = 3000px. 근데 앞뒤로 사진을 한장씩 더 붙여서 px을 늘리면서 양옆으로 사진을 보냄 */
    position: relative;
}

.slider_image {  /* 슬라이더 보이는 이미지 */
    width: 700px;  /* 부모 크기와 똑같이 줌 */
    height: 400px;
    float: left;  /* 아래 내려오던 사진도 전부 옆으로 보냄 */
}

.slider_text_panel {
    position: absolute;  /* 설명글을 이미지 위에 올리기 위함 */
    top: 200px;
    left: 50px;
}

.slider_text {
    position: absolute;  /* 설명글을 절대적 위치로 둬서 설명글끼리 겹치게 함 */
    width: 200px;  /* 설명이 많다면 더 키워줘라 */
    height: 200px;
    color: yellow;
}

.control_panel {
    position: absolute;
    top: 380px;
    left: 270px;
    height: 13px;
    overflow: hidden;  /* 컨트롤 버튼 이미지 하나당 3개의 버튼이 보이는데 이거 안하면 전부 보이게 됨 */
    text-align: center;
    margin: 0 auto;
    z-index: 10px;
}

.control_button {
    position: relative;
    cursor: pointer;
    background: url(/images/slide/point_button.png);
    width: 12px;
    height: 46px;
    float: left;
}

.control_button:hover {
    top: -16px;  /* 버튼을 hover하면 버튼 이미지가 위로 올라가게 함 / -16px = 회색, -32px = 파란색 */
}

.control_button.active {  /* 클래스가 두 개 */
    top: -31px;  /* 버튼을 클릭하면 px만큼 올라가라 */
}

.left_control {
    position: absolute;
    top: 170px;
	height: 60px;
    left: 5px;
    cursor: pointer;
    z-index: 10px;
}
.right_control {
   position: absolute;
   height: 60px;
   top: 170px;
   right: 5px;
   cursor: pointer;
   z-index: 10px;
}

a {
    text-decoration-line: none;
    cursor: pointer;
}

body{
    background-color: #F6F6F6;
}

#detailRange{
    position: absolute;
    width: 700px;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #fff;
}
#firstInfo{
	height: 170px;
}
#companyName{
	position: relative;
	left: 20px;
}

#pointer{
	position: relative;
	top: -10px;
	left: 13px;
    display: inline-block;
}
#fiveStar{
	position: relative;
	left: 20px;
	top: -34px;
    display: inline-block;
	font-size: 1.2em;
}

#address{
	position: relative;
	top: -15px;
	left: 13px;
    display: inline-block;
}
#toAddress{
	position: relative;
	top: -14px;
	left: 10px;
	font-size: 1.3em;
}
#grade{
   display: inline-block;
}
#gradeLink{
	position: relative;
	left: 20px;
	top: -36px;
    display: inline-block;
}
#toReview{
	position: relative;
	left: -3px;
	font-size: 1.3em;
}


#dailyTicket{
	position: relative;
	left: 20px;
	top: -40px;
}
.buttonRange{
    position: relative;
	z-index: 30;
    left: 640px;
    top: -170px;
}

.favorite-button {
    display: inline-block;
	z-index: 30;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.dibs{
	z-index: 30;
    width: 30px;
    height: 30px;
}

#memberTicketRange{
	position: relative;
	top: -30px;
    height: 220px;
    border-bottom: 2px solid #F6F6F6;
    width: 700px;
}

#memberTicket{
	position: relative;
	left: 20px;
}

#fieldMonthlyPrice{
	position: relative;
	left: 20px;
	display: inline-block;
}

#fieldDailyPrice{
	position: relative;
	left: 20px;
	display: inline-block;
}

#dailyLimit{
	position: relative;
	left: 20px;
	font-size: 0.8em;
}
.ticket{
	position: relative;
	left: 20px;
}



.ticketPrice{
    position: relative;
    display: inline-block;
    left: 380px;
}
.month {
	position: relative;
    display: inline-block;
	font-size: 0.7em;
}

.memberTicketBox {
    margin: 0 auto;
    border: 1px solid #F6F6F6;
    border-radius:  20px;
    width: 620px;
    box-shadow: 5px 5px 4px #EAEAEA;
}

#dailyAndInfoRange{
	position: relative;
	top: -25px;
    height: 370px;
    border-bottom: 2px solid #F6F6F6;
}
#dailyTicketRange{
	position: relative;
	left: 20px;
}

#dailyInfoBox{
    margin: 0 auto;
    width: 620px;
    height: 120px;
    border-radius:  20px;
    background-color:  #F6F6F6;
}

#commentRange{
	position: relative;
	top: -25px;
    padding: 40px 0;
    border-bottom: 2px solid #F6F6F6;
	text-align: center;
}

#commentBox {
    width: 578px;
    border-radius:  20px;
    background-color:  #F6F6F6;
    margin: 0 auto;
    padding: 16px 20px;
}

.auto-resize-textarea {
    min-height: 100px; /* 최소 높이 설정 */
    padding: 10px 0 5px 5px; /* 내부 여백 설정 */
    font-size: 14px; /* 폰트 크기 설정 */
    line-height: 1.5; /* 줄 간격 설정 */
    border: 1px solid #f6f6f6; /* 테두리 설정 */
    box-sizing: border-box; /* 내부 여백과 테두리를 포함한 크기 설정 */
    resize: none; /* 크기 조절 불가능하도록 설정 */
    overflow-y: hidden; /* 세로 스크롤바 숨기기 */
    text-align: left; /* 텍스트를 왼쪽 정렬로 설정 */
    background-color: #f6f6f6; /* 배경색 설정 */
    color: #333; /* 텍스트 색상 설정 */
    cursor: default; /* 기본 커서 스타일로 설정 */
    border-radius: 20px; /* 테두리 둥글게 설정 */
    width: 620px; /* 너비 설정 */
    transition: height 0.2s; /* 높이 변화 시 애니메이션 */
}

/* 포커스 시 outline 제거 */
.auto-resize-textarea:focus {
    outline: none;
}

#operatingRange{
	position: relative;
	top: -25px;
	text-align: center;
    padding: 40px 0;
    border-bottom: 2px solid #F6F6F6;
}

#operatingBox{
    width: 578px;
    border-radius:  20px;
    background-color:  #F6F6F6;
    margin: 0 auto;
    padding: 16px 20px;
}

#convenienceFacility{
	position: relative;
	top: -20px;
    border-bottom: 2px solid #F6F6F6;
    height: 180px;
}

#facilityInfo{
	position: relative;
	left: 20px;	
}

#FacilityRange{
    position: relative;
    width: 650px;
    left: 20px;
}

.FacilityImage{
    display: inline-block;
    width: 50px;
    height: 90px;
    padding-left: 17px;
}

#imageInfo{
	position: relative;
	left: 20px;
}

#imageRange{
	position: relative;
	top: -20px;
	width: 700px;
	height:340px;
	border-bottom: 2px solid #F6F6F6;
}

#imageBox{
	text-align: center;
	width: 700px;
	margin:0 auto;	
}

#reviewImageRange{
	height: 120px;
	border-bottom: 2px solid #F6F6F6;
}

#reviewRange{
	border-bottom: 2px solid #F6F6F6;
}

.reviewImage{
	width: 60px;
	height: 60px;
	display: block;
}




#ticketChoiceRange {
    text-align: center;
    height: 90px;
    position: fixed;
    bottom: 0; left: 0;
}

#fixedContainer {
       position: -webkit-sticky; /* Safari 지원 */
       position: sticky; /* 최신 브라우저 지원 */
       bottom: 0;
       left: 0;
       width: 100%;
       background-color: white;
       border-top: 1px solid #ccc;
       padding: 10px;
       box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
       z-index: 1000;
       text-align: center;
   }

   #ticketChoice {
       color: #fff;
       padding: 15px;
       background-color: #2478FF;
       font-size: 1.2em;
       border: 1px solid #2478FF;
       border-radius: 20px;
       width: 650px;
       margin: 0 auto;
   }
#ReviewRange{
	width: 700px;
}



.reviewWriteRange{
	width: 678px;
	margin: 0 auto;
}

#textArea {
	margin: 0 auto;
	width: 700px;
}

#myTextarea {
	position: relative;
	left: 20px;
    width: 600px;
    height: 130px;
    resize: none; /* 빗금 없애기 */
    border: 1px solid #ccc; /* 기본 border 색상 */
    padding: 10px;
    font-size: 1em;
    box-sizing: border-box;
}

#myTextarea:focus {
    border: 1px solid #ccc; /* 클릭할 때 border 색상 */
    outline: none; /* 클릭할 때 기본 outline 제거 */
}

#charCount {
	position: relative;
	left: 630px;
	top: -145px;
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

.rating {
    direction: rtl; /* 오른쪽에서 왼쪽으로 */
    unicode-bidi: bidi-override;
    display: block;
    position: relative;
	top: -5px;
    left: -500px;
}

.rating input {
    display: none; /* 라디오 버튼 숨기기 */
}

.rating label {
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
    color: #f5b301; /* 선택한 별 색상 */
}

#fileRange{
	position: relative;
	top: -30px;
	left: 20px;
}

#fileInfo{
	display: inline-block;
	position: relative;
}

#writeButton{
	position: relative;
	left: 580px;
	top: -300px;
	padding :5px 15px;
	background-color: #2478FF;
	color: #fff;
	border: 1px solid #2478FF;
	border-radius: 8px;
	z-index: 30;
}
.deleteButton{
	position: relative;
	z-index: 30px;
	top: 40px;
	left: 580px;
	background: none;
	border: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
	outline: none;
	font-size: 0.8em;
}

.ReviewRange{
	height: 265px;
}

.reviewImage{
	position: relative;
	top: -25px;
	left: -20px;
	
	display: inline-block;
}
.anonymous{
	position: relative;
	top: -60px;
	left: -20px;
	display: inline-block;
}
.reviewDate{
	position: relative;
	top: -40px;
	left: -116px;
	display: inline-block;
}
.reviewComment{
	position: relative;
	border: 1px solid #ccc;;
	top: -50px;
	height: 130px;
}
.personReviewRange{
	width: 578px;
	height: 180px;
	margin:0 auto;
	border-bottom: 1px solid #F6F6F6;
	padding: 30px;
}
#writeBorder{
	width: 700px;
	border-bottom: 2px solid #F6F6F6;
	height: 225px;
}

#produ{
    color: #757575;
    font-size: 0.8em;
    position: relative;
    left: 30px;
}

#mapRange{
	width: 700px;
	text-align: center;
	margin: 0 auto;
}
#map{
	position: relative;
	margin: 0 auto;
}