body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 70%;
    margin: 30px auto;
    padding: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.header img {
    margin-right: 20px;
}
.nav {
    display: flex;
    justify-content: center;
/*     border-bottom: 2px solid #f0f0f0; */
}
.nav button {
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 0 60px;
/*     border-bottom: 2px solid transparent; */
    font-size: 18px;
}
.nav button.active {
     border-bottom: 2px solid #007bff;
     color: #007bff;
}
.content {
    display: flex;
}
.sidebar {
    width: 20%;
    padding: 20px;
    border-right: 1px solid #ccc;
}
.sidebar button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    font-size: 16px;
}
.sidebar button.active {
    background-color: #007bff;
    color: #fff;
}
.main-content {
    width: 70%;
    padding: 10px;
}
.section {
    display: none;
    padding-left: 20px;
}
.section.active {
    display: block;
}
.section.fullscreen {
    width: 100%;
    padding-left: 0;
}
.item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.item button {
    margin-top: 10px;
}
.filter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
th {
    background-color: #f0f0f0;
}
#update-forms {
    text-align: left;
    margin-left: 140px;
}
.points-total {
    font-weight: bold;
    color: green;
    text-align: right;
    margin-bottom: 10px;
}
.points-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.points-table th, .points-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
.points-table th {
    background-color: #f0f0f0;
}
.points-table .negative {
    color: red;
}
.coupons-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.coupons-table th, .coupons-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
.coupons-table th {
    background-color: #f0f0f0;
}